/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 Mar 2023, 10:00:12 am
    Author     : mel
*/

#main-container{
    position: relative;
    right: 0;
    left: 0;
    top: 20px;
    bottom: 0;
    margin: auto;
    height: 550px;
    width: 750px;
    /*border: 6px solid blue;*/
}

#captcha-container{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 500px;
    width: 740px;
    border: 6px solid purple;
    /*overflow: hidden;*/
}

#captcha-image {
    position: absolute;
    height: 500px;
    width: 740px;
    object-fit: scale-down;
}

#btn_show_image{
     position: absolute;
     height: 30px;
     width: 240px;
     left: 250px;
     top: 235px;
     font-size: 18px;
}

h1,h3 {
    text-align: center;
}

#btn_submit{
    position: absolute;
    width: 60px;
    left: 345px;
    right: 345px;
    top: 525px;

}

.circle {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 4px red;
}

.circle {
  display: block;
}

#content-container{
    position: fixed;
    right: 0;
    left: 0;
    top: 20px;
    bottom: 0;
    margin: auto;
    height: 600px;
    width: 750px;
    text-align: center;
    /*border: solid 2px orange;*/
}

h1#take_note{
    font-size: 90px;
    color: red;
}

#test_disclaimer{
    font-size: 20px;
}

#start_test{
    width: 150px;
    height: 30px;
    font-size: 18px;
    margin-top: 40px;
}

#device_to_use{
    font-size: 50px;
    font-weight: 800;
}