.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}
.bgimg-1 {
    background-image: url('/images/kid.jpg');
    min-height: 500px;
}
.w3-display-middle {
    background-color: transparent;
}
footer{
    border-top: groove;
    font-style: italic;
    text-align: center;
    font-size: 75%;
    padding: 10px;
}